doctype html
html(lang="zh-TW")
	head
		include pages/_meta.pug
	body
		.container
			include pages/_header.pug
			.wrapper
				#menu
					ul
						li
							a(href="index.html")
								| 如何
								span 快樂退
						li.active
							a(href="info.html")
								| 立即
								span 享優惠
						li
							a(href="step.html")
								| 熱心
								span 小幫手
						li
							a(href="fund.html")
								| 輕鬆
								span 挑基金
				.content
					.info
						.deco-1
							img.mb(src="./webroot/images/img_mb_02-1.png" alt="")
							img.pc(src="./webroot/images/img_pc_02-1.png" alt="")
						include pages/_info.pug
						.deco-2
							img.mb(src="./webroot/images/img_mb_02-4.png" alt="")
							img.pc(src="./webroot/images/img_pc_02-4.png" alt="")
						include pages/_qa.pug
			.footer
				include pages/_footer.pug