doctype html
html(lang="zh-TW")
  head
    include pages/_meta.pug
    script(type="text/javascript" src="./webroot/scripts/slick.js")
    script(type="text/javascript" src="./webroot/scripts/slick-custom.js")
  body
    .container
      include pages/_header.pug
      .wrapper
        #menu
          ul
            li
              a(href="index.html")
                | 如何
                span 快樂退
            li
              a(href="info.html")
                | 立即
                span 享優惠
            li.active
              a(href="step.html")
                | 熱心
                span 小幫手
            li
              a(href="fund.html")
                | 輕鬆
                span 挑基金
        .content#step
          .deco-1
            img.title(src="./webroot/images/title_01.png", alt="")
            img(src="./webroot/images/bg_title.png", alt="")
          .slider#account
            ul
              li
                img(src="./webroot/images/account_01.png", alt="")
                .step
                  .num 1
                  .text 由行動銀行進入申請頁面
              li
                img(src="./webroot/images/account_02.png", alt="")
                .step
                  .num 2
                  .text 輸入個人基本資料
              li
                img(src="./webroot/images/account_03.png", alt="")
                .step
                  .num 3
                  .text 輸入OTP密碼進行驗證
              li
                img(src="./webroot/images/account_04.png", alt="")
                .step
                  .num 4
                  .text
                    p 上傳個人證件
                    p (身分證、健保卡)
              li
                img(src="./webroot/images/account_05.png", alt="")
                .step
                  .num 5
                  .text 輸入個人基本資料
              li
                img(src="./webroot/images/account_06.png", alt="")
                .step
                  .num 6
                  .text
                    p 輸入個人其他銀行帳號
                    p 進行身分驗證
              li
                img(src="./webroot/images/account_07.png", alt="")
                .step
                  .num 7
                  .text 輸入簡訊OTP密碼
              li
                img(src="./webroot/images/account_08.png", alt="")
                .step
                  .num 8
                  .text 確認條款
              li
                img(src="./webroot/images/account_09.png", alt="")
                .step
                  .num 9
                  .text 帳號申請完成
          img(src="./webroot/images/img_03-2.jpg", alt="")
          .deco-2
            img.title(src="./webroot/images/title_02.png", alt="")
            img(src="./webroot/images/img_03-3.jpg", alt="")
          .slider#order
            ul
              li
                img(src="./webroot/images/order_01.jpg", alt="")
                .step
                  .num 1
                  .text
                    p 登入 個人網銀或
                    p 行動銀行APP
                    p (示意圖，或可至分行
                    p 臨櫃下單)
              li
                img(src="./webroot/images/order_02.png", alt="")
                .step
                  .num 2
                  .text
                    p
                      | 點選交易
                      span 選單
                      img.arr(src="./webroot/images/ico_arr.png", alt="")
                    p
                      span 基金/信託
                      img.arr(src="./webroot/images/ico_arr.png", alt="")
                      span 基金交易
                      img.arr(src="./webroot/images/ico_arr.png", alt="")
                    p
                      span 定期定額申購
              li
                img(src="./webroot/images/order_03.png", alt="")
                .step
                  .num 3
                  .text
                    p 點選加入
                    p
                      span 快樂退全民計畫
                    p 依序點選定期定額
                    p 扣款交易條件
              li
                img(src="./webroot/images/order_04.png", alt="")
                .step
                  .num 4
                  .text
                    p
                      | 全部確認後，按下
                      span 確定
                    p  交易完成囉！
      .footer
        include pages/_footer.pug